@import '../../assets/styles/variables';

.footerSec {
  background-color: $footer-bg;
}
.logoTextSec img {
  max-width: 96px !important;
  margin-bottom: 1rem;
}
.socialShare {
  ul {
    list-style: none;
    margin: 2rem 0 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 0.8rem;
    a i {
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      background-color: $primary-btn;
      font-size: 1.2rem;
      transition: 0.2s all ease-in;
      color: $white;
    }
    a i:hover {
      background-color: $primary-btn-hover;
    }
  }
}
.links > div:first-child h2 {
  padding-bottom: 5px;
}
.links > div:first-child {
  a {
    padding-bottom: 0.7rem !important;
  }
  a {
    display: inline-block !important;
    position: relative;
  }
  //   a::before {
  //     position: absolute;
  //     content: '';
  //     background: $primary-btn;
  //     width: 0;
  //     height: 2px;
  //     bottom: 9px;
  //     transition: all 0.2s ease-in-out;
  //   }
  //   a:hover::before {
  //     width: 100%;
  //   }
}
