// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap');
// @import '~semantic-ui-css/semantic.min.css';
@import './variables';

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: $black;
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1.ui.header,
h2.ui.header,
h3.ui.header,
h4.ui.header,
h5.ui.header,
h6.ui.header {
  font-family: 'Inter', sans-serif;
  margin: 0 0 1rem;
  color: $primrary-heading;
}
h1,
h1.ui.header {
  font-size: 3.4rem;
}
h2,
h2.ui.header {
  font-size: 2.6rem;
}
h3,
h3.ui.header {
  font-size: 1.45rem;
}
h4,
h4.ui.header {
  font-size: 1.25rem;
}
h5,
h5.ui.header {
  font-size: 1.15rem;
}
h6,
h6.ui.header {
  font-size: 1rem;
  font-weight: 400;
}
p,
li,
a {
  font-size: 1.15rem;
}
p {
  margin: 0 0 1rem !important;
}
a {
  font-weight: 500;
  color: $primrary-heading;
  transition: all 0.2s ease-in;
}
a:hover {
  color: $primary-btn;
}

.sectionHeading h3,
.sectionHeading h3.ui.header {
  font-weight: 400;
  margin: 0 0 1rem;
}

// primary button blue color btn
.ui.button {
  font-size: 1.15rem !important;
  border-radius: 30px !important;
  font-size: 1.15rem !important;
  padding: 0.725rem 1.7rem !important;
  border-radius: 30px !important;
  border: 2px solid $primary-btn;
}
.ui.primary.button,
.ui.primary.buttons .button {
  background-color: $primary-btn;
}
.ui.primary.button:active,
.ui.primary.buttons .button:active {
  background-color: $primary-btn;
}
.ui.primary.button:focus,
.ui.primary.buttons .button:focus {
  background-color: $primary-btn;
}
.ui.primary.button:hover,
.ui.primary.buttons .button:hover {
  background-color: $white;
  color: $theme-color;
}

// secondary button blue color btn
.ui.secondary.button,
.ui.secondary.buttons .button {
  color: $secondary-btn;
  background-color: $white;
  border: 2px solid $white;
}
.ui.secondary.button:active,
.ui.secondary.buttons .button:active {
  background-color: $secondary-btn;
  border: 2px solid $primary-btn;
}
.ui.secondary.button:focus,
.ui.secondary.buttons .button:focus {
  background-color: $secondary-btn;
  border: 2px solid $primary-btn;
}
.ui.secondary.button:hover,
.ui.secondary.buttons .button:hover {
  color: $white;
  background-color: $primary-btn;
  border: 2px solid $primary-btn;
}

.dFlex {
  display: flex;
  align-items: stretch;
}
.verticalAlign {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.sectionPadding {
  padding: 60px 0 !important;
}
.allTextWhite h1,
.allTextWhite h2,
.allTextWhite h3,
.allTextWhite h4,
.allTextWhite h5,
.allTextWhite h6,
.allTextWhite p,
.allTextWhite a,
.allTextWhite h1.ui.header,
.allTextWhite h2.ui.header,
.allTextWhite h3.ui.header,
.allTextWhite h4.ui.header,
.allTextWhite h5.ui.header,
.allTextWhite h6.ui.header {
  color: $white;
}
.centerAlign {
  text-align: center;
}
.themeColor h1,
.themeColor h2,
.themeColor h3,
.themeColor h4,
.themeColor h5,
.themeColor h6,
.themeColor p,
.themeColor a,
.themeColor h1.ui.header,
.themeColor h2.ui.header,
.themeColor h3.ui.header,
.themeColor h4.ui.header,
.themeColor h5.ui.header,
.themeColor h6.ui.header,
.themeColor span {
  color: $primary-btn;
}

.allTextUppercase,
.allTextUppercase a,
.allTextUppercase h1,
.allTextUppercase h2,
.allTextUppercase h3,
.allTextUppercase h4,
.allTextUppercase h5,
.allTextUppercase h6,
.allTextUppercase p {
  text-transform: uppercase !important;
}
.logoText > p {
  font-size: 2rem;
  margin: 0 !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.alignCenter {
  text-align: center;
}
.alignLeft {
  text-align: left;
}
.alignRight {
  text-align: right;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
