@import '../../assets/styles/variables';


.typewritter {
  margin-top: 1.5rem;

  span {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1.2;
    color: $orange;
  }
}

.rightCol {
  width: 100%;
  height: 420px;

  video {
    width: 100%;
    height: 100%;
  }
}


@media(max-width: 991px) {
  .bannerSection {
    text-align: center !important;
  }

  .leftCol {
    text-align: center;
  }

  .typewritter {
    span {
      font-size: 2.4rem;
    }
  }

  .centerCol {
    display: none !important;
  }
}

@media(max-width: 767px) {
  .typewritter {
    span {
      font-size: 1.6rem;
    }
  }
}